<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency List</title>
    <!-- Import custom stylesheet -->
    <link rel="stylesheet" href="../public/css/stylesheet.css">
</head>
<body>
    <h1>Charts</h1>
    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Exchange Rate</th>
            </tr>
        </thead>
        <tbody>
            <% currencies.forEach(currency => { %>
            <tr>
                <td><%= currency.code %></td>
                <td><%= currency.name %></td>
                <td><%= currency.rate %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>