<header class="navbar">
    <div class="navbar-logo">
        <a href="/">LOGO</a>
    </div>
    <nav class="navbar-links">
        <a href="/" class="<%= activePage === '' ? 'active' : '' %>">Currency Converter</a>
        <a href="/charts" class="<%= activePage === 'charts' ? 'active' : '' %>">Charts</a>
    </nav>
</header>
