<header class="navbar">
    <div class="navbar-logo">
        <i class="fa-solid fa-money-bill-1-wave fa-5x"></i>
    </div>
    <nav class="navbar-links">
        <a href="/" class="<%= activePage === '' ? 'active' : '' %>">Currency Converter</a>
        <a href="/charts" class="<%= activePage === 'charts' ? 'active' : '' %>">Charts</a>
        <a href="/rates" class="<%= activePage === 'rates' ? 'active' : '' %>">Latest Rates</a>
    </nav>
</header>